<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap" rel="stylesheet">
    <title>MIFS</title>
</head>
<body>

    <header class='header'>
        <div class="header__ink">
            <div class="container">
                <img class="header__icon" src="style/static/img/Header-icon.png" alt="">
                <div class="header__inner">
                    <div class="logo"><a class="header__logo" href="#">MIFS</a></div>

                    <nav class="nav__link">
                        <a class='nav__items'  href="#">Заказать</a>
                        <a class='nav__items'  href="#">О нас</a>
                        <a class='nav__items'  href="#">Devices</a>
                        <a class='nav__items'  href="#">Котнакты</a>
                        <img class="img__kor" src="style/static/img/корзина.PNG" alt="">
                        <a class='nav__items'  href="#">13 899 р.</a>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="intro__header">
        <div class="container">
            <div class="intro">
                <div class="intro__inner">
                    <div class="left__block">
                        <p class="discription">Любые хорошие девайсы и техника по хорошей цене.<b> Быстро, качественно и надёжго!</p>
                        <a class="button__header" href="#">Заказать можно здесь</a>

                        <div class="button__klick">
                            <div class="button__shadow">
                                <a class="button  button--red button--shadow" href="#">Заказать</a>
                                <div class="number">+7 914 701-30-45</div>
                            </div>
                        </div>
                    </div>
                    <div class="right__block">
                        <div class="right__block__inner">
                            <div class="btn__left  btn__left--shadow"></div>
                            <div class="btn__right  btn__right--shadow"></div>
                            <div class="block__chair">
                                <div class="shadow__chair"></div>
                                <img class="rt__blok_img" src="style/static/img/chair.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- intro -->
        </div> <!-- container -->
    </div> <!-- intro__header -->

    <div class="about">
        <div class="container">
            <div class="about__inner">
                <div class="about__header">О нас</div>
            </div>
        </div>
    </div>


</body>
</html>